@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,600,700,800&subset=cyrillic-ext,latin);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .icons-alarm, .icons-alltime, .icons-avans, .icons-brak, .icons-conjak, .icons-delivery, .icons-gps, .icons-handshake, .icons-home, .icons-jaket, .icons-location, .icons-percent, .icons-phone, .icons-plane, .icons-quality, .icons-question, .icons-refresh, .icons-rouble, .icons-send_mail, .icons-send_name, .icons-send_tel, .icons-sheep, .icons-sleep, .icons-startup, .icons-telephone, .icons-textile, .icons-timer, .icons-traktor, .icons-truck, .icons-worktime {
  background-image: url('assets/img/icons-sb9193695f1.png');
  background-repeat: no-repeat;
}

.icons-alarm {
  background-position: 0 0;
  height: 89px;
  width: 89px;
}

.icons-alltime {
  background-position: 0 -89px;
  height: 89px;
  width: 89px;
}

.icons-avans {
  background-position: 0 -178px;
  height: 89px;
  width: 89px;
}

.icons-brak {
  background-position: 0 -267px;
  height: 89px;
  width: 89px;
}

.icons-conjak {
  background-position: 0 -356px;
  height: 98px;
  width: 21px;
}

.icons-delivery {
  background-position: 0 -454px;
  height: 89px;
  width: 89px;
}

.icons-gps {
  background-position: 0 -543px;
  height: 14px;
  width: 10px;
}

.icons-handshake {
  background-position: 0 -557px;
  height: 89px;
  width: 89px;
}

.icons-home {
  background-position: 0 -646px;
  height: 89px;
  width: 89px;
}

.icons-jaket {
  background-position: 0 -735px;
  height: 79px;
  width: 79px;
}

.icons-location {
  background-position: 0 -814px;
  height: 42px;
  width: 35px;
}

.icons-percent {
  background-position: 0 -856px;
  height: 89px;
  width: 89px;
}

.icons-phone {
  background-position: 0 -945px;
  height: 89px;
  width: 89px;
}

.icons-plane {
  background-position: 0 -1034px;
  height: 42px;
  width: 35px;
}

.icons-quality {
  background-position: 0 -1076px;
  height: 89px;
  width: 89px;
}

.icons-question {
  background-position: 0 -1165px;
  height: 18px;
  width: 18px;
}

.icons-refresh {
  background-position: 0 -1183px;
  height: 79px;
  width: 79px;
}

.icons-rouble {
  background-position: 0 -1262px;
  height: 79px;
  width: 79px;
}

.icons-send_mail {
  background-position: 0 -1341px;
  height: 20px;
  width: 16px;
}

.icons-send_name {
  background-position: 0 -1361px;
  height: 19px;
  width: 15px;
}

.icons-send_tel {
  background-position: 0 -1380px;
  height: 16px;
  width: 15px;
}

.icons-sheep {
  background-position: 0 -1396px;
  height: 89px;
  width: 89px;
}

.icons-sleep {
  background-position: 0 -1485px;
  height: 89px;
  width: 89px;
}

.icons-startup {
  background-position: 0 -1574px;
  height: 89px;
  width: 89px;
}

.icons-telephone {
  background-position: 0 -1663px;
  height: 42px;
  width: 35px;
}

.icons-textile {
  background-position: 0 -1705px;
  height: 79px;
  width: 79px;
}

.icons-timer {
  background-position: 0 -1784px;
  height: 79px;
  width: 79px;
}

.icons-traktor {
  background-position: 0 -1863px;
  height: 89px;
  width: 89px;
}

.icons-truck {
  background-position: 0 -1952px;
  height: 79px;
  width: 79px;
}

.icons-worktime {
  background-position: 0 -2031px;
  height: 42px;
  width: 35px;
}

i[class*="icons-"] {
  display: inline-block;
}

body {
  background: #edefe2 url(assets/img/main_back.jpg) 0 0;
  font-family: "pf_din_text_cond_proregular";
  font-weight: normal;
  font-style: normal;
  color: #333;
  font-size: 18px;
  line-height: normal;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "pf_din_text_cond_probold";
  font-weight: normal;
  font-style: normal;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.img-r {
  max-width: 100% !important;
}

.gray-back {
  background: #e6e6e6 url(assets/img/gray_back.jpg) 0 0 repeat;
}

::selection {
  background: #c6d775;
}

::-moz-selection {
  background: #c6d775;
}

@font-face {
  font-family: "pf_din_text_cond_proregular";
  src: url("assets/fonts/PFDinTextCondPro/regular/pfdintextcondpro-regular-webfont.eot");
  src: url("assets/fonts/PFDinTextCondPro/regular/pfdintextcondpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/PFDinTextCondPro/regular/pfdintextcondpro-regular-webfont.woff") format("woff"), url("assets/fonts/PFDinTextCondPro/regular/pfdintextcondpro-regular-webfont.ttf") format("truetype"), url("assets/fonts/PFDinTextCondPro/regular/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media all and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "pf_din_text_cond_proregular";
    src: url("assets/fonts/PFDinTextCondPro/regular/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
@font-face {
  font-family: "pf_din_text_cond_promedium";
  src: url("assets/fonts/PFDinTextCondPro/medium/pfdintextcondpro-medium-webfont.eot");
  src: url("assets/fonts/PFDinTextCondPro/medium/pfdintextcondpro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/PFDinTextCondPro/medium/pfdintextcondpro-medium-webfont.woff") format("woff"), url("assets/fonts/PFDinTextCondPro/medium/pfdintextcondpro-medium-webfont.ttf") format("truetype"), url("assets/fonts/PFDinTextCondPro/medium/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media all and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "pf_din_text_cond_promedium";
    src: url("assets/fonts/PFDinTextCondPro/medium/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
@font-face {
  font-family: "pf_din_text_cond_probold";
  src: url("assets/fonts/PFDinTextCondPro/bold/pfdintextcondpro-bold-webfont.eot");
  src: url("assets/fonts/PFDinTextCondPro/bold/pfdintextcondpro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/PFDinTextCondPro/bold/pfdintextcondpro-bold-webfont.woff") format("woff"), url("assets/fonts/PFDinTextCondPro/bold/pfdintextcondpro-bold-webfont.ttf") format("truetype"), url("assets/fonts/PFDinTextCondPro/bold/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media all and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "pf_din_text_cond_probold";
    src: url("assets/fonts/PFDinTextCondPro/bold/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
.head-zigzag {
  margin: 0;
  background: url(assets/img/head-zigzag.png) 0 0 repeat-x;
  border: none;
  width: 100%;
  height: 7px;
  position: absolute;
  top: -4px;
}

.bottom-zigzag-gray {
  margin: 0;
  background: url(assets/img/bottom-zigzag-gray.png) 0 0 repeat-x;
  border: none;
  width: 100%;
  height: 11px;
  position: absolute;
  bottom: -5px;
}

.bottom-zigzag {
  margin: 0;
  background: url(assets/img/bottom-zigzag.png) 0 0 repeat-x;
  border: none;
  width: 100%;
  height: 11px;
  position: absolute;
  bottom: -5px;
}

.top-zigzag {
  margin: 0;
  background: url(assets/img/top-zigzag.png) 0 0 repeat-x;
  border: none;
  width: 100%;
  height: 11px;
  position: absolute;
  top: -4px;
}

.green-hr {
  background: url(assets/img/green_hr.png) 50% 0 no-repeat;
  margin: 0;
  border: none;
  height: 1px;
  width: 100%;
}

.red-hr {
  background: url(assets/img/red_hr.png) 50% 0 no-repeat;
  margin: 0;
  border: none;
  height: 1px;
  width: 100%;
}

.green-big-hr {
  height: 5px;
  background-color: #95b222;
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.22);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.22);
  margin: 0;
  border: none;
  width: 100%;
}

.logo__link {
  display: inline-block;
}

.description {
  text-align: center;
  width: 480px;
  padding-top: 15px;
  padding-left: 35px;
}

.cta__tel {
  text-align: right;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 3px;
  font-family: "pf_din_text_cond_probold";
  font-weight: normal;
  font-style: normal;
  color: #333;
}
.cta__tel a {
  text-decoration: none;
  color: #333;
}

.cta__address {
  text-align: right;
  margin-bottom: 3px;
}
.cta__address i {
  margin-right: 3px;
}

.cta__mail {
  text-align: right;
}
.cta__mail a {
  color: #468fd0;
}
.cta__mail a:hover {
  color: #f71101;
}

.cta__btn {
  display: inline-block;
  padding: 0 45px;
  height: 35px;
  border: 2px solid #fff;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "pf_din_text_cond_promedium";
  font-weight: normal;
  font-style: normal;
  font-size: 1.33em;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 -4px 5px rgba(72, 72, 72, 0.22);
  -webkit-box-shadow: 0 -4px 5px rgba(72, 72, 72, 0.22);
  box-shadow: 0 -4px 5px rgba(72, 72, 72, 0.22);
}
.cta__btn:active {
  outline: none;
}

.cta__btn-green {
  background-color: #d30529;
  color: #fff;
  text-shadow: 1px 1px 1px #5d7000;
  -moz-box-shadow: 4px 0 5px rgba(72, 72, 72, 0.22);
  -webkit-box-shadow: 4px 0 5px rgba(72, 72, 72, 0.22);
  box-shadow: 4px 0 5px rgba(72, 72, 72, 0.22);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNDYyNzc0IiB5MT0iLTAuMDMyMzYiIHgyPSIwLjUzNzIyNiIgeTI9IjEuMDMyMzYiPjxzdG9wIG9mZnNldD0iNDIlIiBzdG9wLWNvbG9yPSIjOTViNDAwIi8+PHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiM3Zjk5MDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(274deg, #95b400 42%, #7f9900 63%);
  background-image: -webkit-linear-gradient(274deg, #95b400 42%, #7f9900 63%);
  background-image: linear-gradient(176deg, #95b400 42%, #7f9900 63%);
}
.cta__btn-green:hover, .cta__btn-green:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNDcyNDk4IiB5MT0iLTAuMDI0NzYzIiB4Mj0iMC41Mjc1MDIiIHkyPSIxLjAyNDc2MyI+PHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9IiM5NWI0MDAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzdmOTkwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(273deg, #95b400 45%, #7f9900 50%);
  background-image: -webkit-linear-gradient(273deg, #95b400 45%, #7f9900 50%);
  background-image: linear-gradient(177deg, #95b400 45%, #7f9900 50%);
}
.cta__btn-green:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNTM3MjI2IiB5MT0iMS4wMzIzNiIgeDI9IjAuNDYyNzc0IiB5Mj0iLTAuMDMyMzYiPjxzdG9wIG9mZnNldD0iNDIlIiBzdG9wLWNvbG9yPSIjOTViNDAwIi8+PHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiM3Zjk5MDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(94deg, #95b400 42%, #7f9900 63%);
  background-image: -webkit-linear-gradient(94deg, #95b400 42%, #7f9900 63%);
  background-image: linear-gradient(-4deg, #95b400 42%, #7f9900 63%);
}

.cta__btn-square {
  letter-spacing: 0.01em;
  height: 50px;
  line-height: 35px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.cta__btn-red {
  background-color: #d30529;
  color: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNDYyNzc0IiB5MT0iLTAuMDMyMzYiIHgyPSIwLjUzNzIyNiIgeTI9IjEuMDMyMzYiPjxzdG9wIG9mZnNldD0iNDIlIiBzdG9wLWNvbG9yPSIjZjcxMTAxIi8+PHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiNkNTBmMDIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(274deg, #f71101 42%, #d50f02 63%);
  background-image: -webkit-linear-gradient(274deg, #f71101 42%, #d50f02 63%);
  background-image: linear-gradient(176deg, #f71101 42%, #d50f02 63%);
  text-shadow: 1px 1px 1px #920900;
}
.cta__btn-red:hover, .cta__btn-red:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNDYyNzc0IiB5MT0iLTAuMDMyMzYiIHgyPSIwLjUzNzIyNiIgeTI9IjEuMDMyMzYiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmNzExMDEiLz48c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2ZmNGM0MCIvPjxzdG9wIG9mZnNldD0iNDMlIiBzdG9wLWNvbG9yPSIjZDUwZjAyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(274deg, #f71101, #ff4c40 42%, #d50f02 43%);
  background-image: -webkit-linear-gradient(274deg, #f71101, #ff4c40 42%, #d50f02 43%);
  background-image: linear-gradient(176deg, #f71101, #ff4c40 42%, #d50f02 43%);
}
.cta__btn-red:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNTM3MjI2IiB5MT0iMS4wMzIzNiIgeDI9IjAuNDYyNzc0IiB5Mj0iLTAuMDMyMzYiPjxzdG9wIG9mZnNldD0iNDIlIiBzdG9wLWNvbG9yPSIjZjcxMTAxIi8+PHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiNkNTBmMDIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(94deg, #f71101 42%, #d50f02 63%);
  background-image: -webkit-linear-gradient(94deg, #f71101 42%, #d50f02 63%);
  background-image: linear-gradient(-4deg, #f71101 42%, #d50f02 63%);
}

header {
  padding-bottom: 20px;
}
header > .container {
  padding: 21px 42px 0 42px;
}

.screen__form__title {
  font-size: 1.11em;
  margin-bottom: 15px;
}

.screen__form {
  width: 360px;
  height: 250px;
  border: 1px solid #bbbaba;
  background-color: rgba(226, 231, 230, 0.9);
  text-align: center;
  padding: 15px 30px 20px 30px;
  position: absolute;
  bottom: 30px;
  right: 100px;
}
.screen__form.is-triple {
  padding: 15px 30px 10px 30px;
  bottom: auto;
  top: 16px;
  right: 30px;
  height: auto;
}
.screen__form.is-triple .screen__form__title {
  text-transform: uppercase;
  font-size: 1.39em;
  line-height: 1.15;
}
.screen__form.is-triple .cta__btn {
  padding: 0 15px;
}
.screen__form .cta__btn-square {
  width: 300px;
}

.screen__promo__title {
  margin-bottom: 10px;
}

.screen__promo__ddl i {
  font-style: normal;
  font-size: 1.67em;
}

.screen__promo__bottle {
  position: absolute;
  right: 55px;
  top: 20px;
}

.screen__promo {
  position: relative;
  background: url(assets/img/promo_back.png) 0 0 no-repeat;
  width: 393px;
  height: 143px;
  position: absolute;
  bottom: 30px;
  left: 155px;
  padding: 15px 20px;
}

.screen {
  position: relative;
  background: #ce2a22 url(assets/img/screen_back.jpg) 50% 0 no-repeat;
  width: 100%;
  height: 550px;
}
.screen > .container {
  height: 300px;
}

.title__big {
  text-transform: uppercase;
  width: 740px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.44em;
  letter-spacing: 0.03em;
}

.title__mini {
  font-size: 1.5em;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}

.title {
  background-color: rgba(0, 0, 0, 0.7);
  color: #cfcfcf;
  text-shadow: 0 2px #000;
  padding-top: 22px;
  padding-bottom: 32px;
}

.top-menu__list {
  margin: 0 auto;
  display: table;
}

.top-menu__element {
  position: relative;
  padding: 0 !important;
}
.top-menu__element:first-child {
  box-shadow: -1px 0 0 #a9c23a, -2px 0 0 #667c15;
}
.top-menu__element a {
  display: inline-block;
  height: 47px;
  width: 100%;
  padding: 12px 15px 13px 15px !important;
  box-shadow: 1px 0 0 #667c15, 2px 0 0 #a9c23a;
  text-decoration: none;
  color: #000;
  position: relative;
  text-shadow: 0 -1px rgba(255, 255, 255, 0.4);
}
.top-menu__element a:hover, .top-menu__element a.active {
  text-decoration: underline;
  text-shadow: none;
}
.top-menu__element a:hover:after, .top-menu__element a.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  opacity: 0.15;
}

.top-menu {
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  height: 48px;
  background: url(assets/img/topmenu_back.png) 0 0 repeat-x;
}
.top-menu.sticky {
  top: 0 !important;
  border-bottom: 1px solid #7a9120;
}

.header {
  width: 100%;
  height: 48px;
}
.header.sticky {
  top: 0 !important;
  border-bottom: 1px solid #7a9120;
}

.send__left {
  float: left;
  width: 49%;
}

.send__right {
  float: right;
  width: 49%;
  padding-right: 140px;
  padding-top: 30px;
}

.send__pic {
  position: relative;
  height: 390px;
}
.send__pic img {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.send__title {
  text-transform: uppercase;
  font-size: 1.22em;
  line-height: 1.38;
}

.send__form {
  margin-top: 20px;
}

.send__label {
  display: block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 6px;
}

.send__input {
  position: relative;
  margin-bottom: 13px;
  font-size: 0.67em;
}
.send__input input {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 275px;
  height: 36px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 40px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.send__input i {
  position: absolute;
  left: 27px;
  top: 50%;
  margin-top: -8px;
}
.send__input textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 275px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 1em;
  resize: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.send__input textarea + i {
  top: 16px !important;
}

.send__btn {
  margin-top: 15px;
}

.send__modal {
  position: relative;
  background-color: #fff;
  padding: 40px;
  width: 420px;
}
.send__modal .send__input i {
  left: 45px;
}
.send__modal form {
  text-align: center;
}
.send__modal .send__title {
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
.send__modal .cta__btn {
  height: 50px;
  width: 100%;
  margin-top: 10px;
}
.send__modal.send__modal__ok {
  padding: 30px 20px;
  text-align: center;
}
.send__modal.send__modal__ok .send__title__ok {
  line-height: 1.4;
  padding: 0 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.send__modal.send__modal__ok .send__title__ok small {
  font-size: 1em;
  display: inline-block;
  margin-top: 10px;
  font-weight: normal;
}

.modal-close.arcticmodal-close {
  position: absolute;
  cursor: pointer;
  top: -12px;
  right: -15px;
  font-weight: bold;
  background: #333;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  border: 2px solid #95b400;
  font-size: 0.89em;
}

.arcticmodal-overlay,
.arcticmodal-container {
  z-index: 9998 !important;
}

.send__privacy {
  text-align: center;
  margin-top: 10px;
  font-size: 0.56em;
  color: #898989;
}

.send {
  height: 390px;
  margin-top: 30px;
  background: #f4f4f4 url("assets/img/send_back.png") 0 0;
  -moz-box-shadow: inset 0 0 9px #8f8f8f;
  -webkit-box-shadow: inset 0 0 9px #8f8f8f;
  box-shadow: inset 0 0 9px #8f8f8f;
}

.benefits {
  padding: 40px 0;
}
.benefits > .container {
  padding: 0 45px;
}

.benefits__link {
  text-decoration: none;
  color: #333;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.benefits__element {
  background-color: #fff;
  display: inline-block;
  width: 285px;
  height: 96px;
  margin-right: 35px;
  margin-bottom: 22px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.benefits__element.cf {
  margin-right: 0;
}

.benefits__icon {
  width: 32%;
  float: left;
  padding-top: 5px;
  padding-left: 8px;
}

.benefits__text {
  width: 185px;
  float: left;
  font-size: 0.89em;
  font-weight: 600;
  padding: 20px 5px 0 4px;
  line-height: 1.2;
}
.benefits__text i {
  font-size: 1.33em;
  font-family: "pf_din_text_cond_promedium";
  font-weight: normal;
  font-style: normal;
}

.services__title {
  font-size: 1.39em;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 20px;
  padding-left: 4px;
}

.services__pic {
  width: 253px;
  height: 142px;
  overflow: hidden;
  border: 3px solid #fff;
  margin-bottom: 25px;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.services__text {
  margin-bottom: 20px;
}

.services__element {
  width: 270px;
  margin-right: 30px;
  display: inline-block;
}
.services__element:last-child {
  margin-right: 0;
}

.services {
  width: 100%;
  position: relative;
  font-size: 1em;
}
.services > .container {
  padding: 54px 70px 60px;
}

.block-title__hr__red {
  background-color: #fc3b40 !important;
}

.block-title__hr {
  width: 185px;
  height: 5px;
  display: inline-block;
  background-color: #7f971b;
  -moz-box-shadow: 0 1px #9b9b9b;
  -webkit-box-shadow: 0 1px #9b9b9b;
  box-shadow: 0 1px #9b9b9b;
}

.block-title {
  text-align: center;
  line-height: 1;
  margin-bottom: 55px;
}
.block-title h3 span {
  font-size: 2.78em;
  text-transform: uppercase;
  font-family: "pf_din_text_cond_probold";
  font-weight: normal;
  font-style: normal;
}
.block-title h3 i {
  font-size: 1.67em;
  display: inline-block;
  margin-bottom: 8px;
}

.range__element {
  padding-bottom: 37px;
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 33px;
}
.range__element:last-child {
  border-bottom: none;
}

.range__title {
  margin-bottom: 38px;
  position: relative;
  text-align: center;
}
.range__title span {
  font-family: "pf_din_text_cond_promedium";
  font-weight: normal;
  font-style: normal;
  font-size: 1.67em;
  text-align: center;
  display: inline-block;
  background: url(assets/img/main_back.jpg) 0 0;
  padding: 0 19px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}
.range__title i {
  font-style: normal;
  text-transform: uppercase;
}
.range__title:after {
  content: "";
  display: inline-block;
  width: 655px;
  height: 1px;
  background-color: #c5c5c5;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -327px;
  z-index: 1;
}

.range__items__element {
  width: 195px;
  height: 220px;
  border: 1px solid #fff;
  padding: 5px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 35px;
}
.range__items__element:last-child {
  margin-right: 0;
}
.range__items__element:after {
  z-index: 1;
  left: 5px;
  background-color: #fff;
  top: 6px;
  width: 183px;
  height: 206px;
  content: "";
  display: inline-block;
  position: absolute;
}

.range__items__pic {
  position: relative;
  top: -21px;
  z-index: 2;
}

.range__items {
  padding: 0 110px;
  margin-bottom: 12px;
}

.range__text {
  margin-top: 18px;
  padding: 0 110px;
  margin-bottom: 25px;
}
.range__text strong {
  font-family: "pf_din_text_cond_promedium";
  font-weight: normal;
  font-style: normal;
}

.range__btn {
  text-align: center;
}
.range__btn .cta__btn {
  padding: 0 60px;
}

.range {
  width: 100%;
  position: relative;
  font-size: 1em;
}
.range > .container {
  padding: 54px 70px 10px;
}

.send-consult {
  background: #fff url(assets/img/send_consult.jpg) 50% 0 no-repeat;
  width: 100%;
  position: relative;
}
.send-consult > .container {
  position: relative;
  min-height: 408px;
}

.pain__left {
  width: 376px;
  margin-right: 85px;
  display: inline-block;
}

.pain__right {
  width: 376px;
  display: inline-block;
}

.pain__title {
  text-align: center;
  font-size: 1.39em;
  margin-bottom: 15px;
}

.pain__element {
  margin-bottom: 10px;
}

.pain__bad {
  margin-right: 85px;
  vertical-align: top;
  width: 376px;
  display: inline-block;
}

.pain__good {
  width: 376px;
  display: inline-block;
  vertical-align: top;
}

.pain__tezis {
  margin-bottom: 15px;
  width: 375px;
  height: 91px;
  padding-top: 23px;
  padding-left: 98px;
  padding-right: 15px;
  position: relative;
}
.pain__tezis.is-gray {
  background: url(assets/img/pain_bad.png) 0 0 no-repeat;
}
.pain__tezis.is-green {
  background: url(assets/img/pain_good.png) 0 0 no-repeat;
}
.pain__tezis.is-green span {
  text-shadow: 1px 1px 1px #5d7000;
}
.pain__tezis i {
  position: absolute;
  left: 0;
  top: 0;
}
.pain__tezis span {
  display: inline-block;
  width: 263px;
  height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px #4d4d4d;
}

.pain__text {
  padding-left: 86px;
}

.pain {
  width: 100%;
  position: relative;
  font-size: 1em;
}
.pain > .container {
  padding: 54px 90px 60px;
}

.partners__elements {
  text-align: center;
}

.partners__other {
  font-family: "pf_din_text_cond_promedium";
  font-weight: normal;
  font-style: normal;
  font-size: 1.67em;
  text-align: center;
  margin-top: 35px;
}
.partners__other i {
  color: #7c8b35;
}

.partners {
  position: relative;
  width: 100%;
}
.partners > .container {
  padding: 54px 135px 90px;
}

.send-line__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.17em;
  margin-bottom: 20px;
}

.send-line__form {
  text-align: center;
}
.send-line__form .send__privacy {
  margin-top: 0;
  font-size: 0.67em;
}
.send-line__form .send__input {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.send-line__form .send__input input {
  width: 220px;
}
.send-line__form .send__input i {
  left: 17px;
}
.send-line__form .send__btn {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.send-line__form .cta__btn {
  height: 36px;
  line-height: 30px;
  text-transform: none;
  font-size: 1.11em;
}

.send-line {
  position: relative;
}
.send-line > .container {
  padding: 35px 70px;
}

.portfolio__left {
  width: 435px;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}

.portfolio__right {
  display: inline-block;
  width: 440px;
  vertical-align: top;
}

.portfolio__slider .flexslider {
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
.portfolio__slider .slides {
  margin-bottom: 10px;
  width: 433px;
  height: 293px;
  overflow: hidden;
  border: 4px solid #fff;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.portfolio__slider .slides img {
  width: auto !important;
  height: 100%;
  min-width: 100%;
}
.portfolio__slider .flex-control-thumbs li {
  width: 105px;
  height: 70px;
  overflow: hidden;
  margin-right: 4px;
  border: 3px solid #fff;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.portfolio__slider .flex-control-thumbs li:last-child {
  margin-right: 0;
}
.portfolio__slider .flex-control-thumbs img {
  width: auto !important;
  height: 100%;
  min-width: 100%;
}

.portfolio__name {
  font-size: 1.22em;
  font-family: "pf_din_text_cond_promedium";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 10px;
}

.portfolio__step__title {
  color: #f93e46;
  font-family: "pf_din_text_cond_promedium";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 5px;
}

.portfolio__step__text {
  font-size: 0.78em;
}

.portfolio__step {
  margin-bottom: 10px;
}

.portfolio {
  position: relative;
}
.portfolio > .container {
  padding: 54px 55px 40px;
}

.steps__img {
  text-align: center;
}

.steps__line {
  position: relative;
}

.steps__text__element {
  width: 168px;
  height: 68px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
}
.steps__text__element:last-child {
  margin-right: 0;
}

.steps__link {
  position: absolute;
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-family: "pf_din_text_cond_promedium";
  font-weight: normal;
  font-style: normal;
  font-size: 0.89em;
  left: 26px;
  top: 13px;
  padding-top: 33px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
}
.steps__link:hover {
  background-color: #fc3b40;
}

.steps {
  position: relative;
}
.steps > .container {
  padding: 54px 45px 50px;
}

.reviews__element {
  padding: 0 37px 55px;
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 40px;
}
.reviews__element:last-child {
  border-bottom: none;
}

.reviews__pic {
  border: 4px solid #fff;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 250px;
  overflow: hidden;
  margin-right: 65px;
}
.reviews__pic img {
  height: 100%;
  min-width: 100%;
}

.review__text__name {
  font-size: 1.11em;
  margin-bottom: 5px;
}

.review__text__company {
  color: #5e5e5e;
  margin-bottom: 20px;
}

.review__text__content {
  font-size: 0.89em;
}

.reviews__text {
  display: inline-block;
  width: 530px;
  vertical-align: top;
  padding-top: 5px;
}

.reviews {
  position: relative;
}
.reviews > .container {
  padding: 54px 75px 0;
}

.contacts__map {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
}

.contacts__info__title {
  font-size: 1.56em;
  text-align: center;
  font-family: "pf_din_text_cond_promedium";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 20px;
}

.contacts__info {
  width: 324px;
  height: 334px;
  display: inline-block;
  background: url(assets/img/contacts_info.png) 0 0 no-repeat;
  z-index: 2;
  top: 210px;
  position: absolute;
  left: 50%;
  margin-left: -334px;
  color: #fff;
  padding: 30px 50px 40px 33px;
}

.contacts__info__title {
  font-size: 1.56em;
  text-align: center;
  font-family: "pf_din_text_cond_promedium";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 20px;
}

.contacts__line {
  margin-bottom: 15px;
}

.contacts__icon {
  opacity: 0.8;
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 42px;
  margin-right: 10px;
}

.contacts__text {
  display: inline-block;
  vertical-align: top;
  width: 190px;
  font-size: 0.89em;
}
.contacts__text strong {
  display: block;
  font-family: "pf_din_text_cond_promedium";
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.05em;
}
.contacts__text a {
  color: #fff;
  text-decoration: none;
}
.contacts__text a:hover {
  text-decoration: underline;
}

.contacts {
  position: relative;
  height: 670px;
  overflow: hidden;
}
.contacts > .contacts__title {
  padding-top: 40px;
  background: url(assets/img/contacts_title.png) 50% 0 no-repeat;
  position: relative;
  z-index: 2;
  height: 244px;
}
.contacts .top-zigzag {
  z-index: 3;
}
.contacts .bottom-zigzag {
  bottom: -3px;
  z-index: 2;
}

.ymaps-b-zoom_hints-pos_right {
  top: 305px !important;
  left: 35px !important;
}
.ymaps-b-zoom_hints-pos_right + ymaps {
  display: none;
}

.ymaps-controls-righttop {
  display: none !important;
}

.ymaps-copyrights-pane {
  display: none !important;
}

.send-screen__form {
  width: 402px;
  height: 432px;
  margin: 0 auto 17px auto;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  padding: 40px 45px 35px 45px;
  border: 1px solid #dfe0d8;
}
.send-screen__form:after {
  background: #fff;
  z-index: -1;
  content: "";
  width: 358px;
  height: 385px;
  position: absolute;
  display: inline-block;
  left: 20px;
  top: 20px;
}
.send-screen__form .send__input i {
  left: 30px;
}
.send-screen__form form {
  text-align: center;
}
.send-screen__form .cta__btn {
  width: 100%;
}

.send-screen__title {
  text-align: center;
  margin-bottom: 20px;
}
.send-screen__title strong {
  font-family: "pf_din_text_cond_probold";
  font-weight: normal;
  font-style: normal;
  font-size: 1.44em;
  display: inline-block;
  border-bottom: 3px solid #f4181a;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.send-screen__title span {
  font-size: 1.11em;
}

.send-screen__promo {
  width: 402px;
  height: 155px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  padding: 23px 44px;
  border: 1px solid #dfe0d8;
}
.send-screen__promo:after {
  background: #fff;
  z-index: -1;
  content: "";
  width: 373px;
  height: 130px;
  position: absolute;
  display: inline-block;
  left: 13px;
  top: 10px;
}
.send-screen__promo .screen__promo {
  background: none;
}
.send-screen__promo .screen__promo__bottle {
  right: 35px;
}

.send-screen {
  position: relative;
}
.send-screen > .container {
  padding: 65px 0 85px;
}

footer > .container {
  padding: 30px 70px;
}
footer a {
  color: #333;
}

.artos {
  width: 450px;
  text-align: center;
  padding: 13px 80px 0 80px;
  text-transform: uppercase;
  font-size: 1.11em;
  line-height: 1;
}
.artos p {
  margin-bottom: 7px;
}
.artos p a {
  color: #000;
}
.artos p a:hover {
  text-decoration: none;
}

.cta-simple {
  padding-top: 15px;
}

.cta-simple__tel {
  font-size: 1.67em;
  margin-top: 2px;
  font-family: "pf_din_text_cond_probold";
  font-weight: normal;
  font-style: normal;
}
.cta-simple__tel a {
  text-decoration: none;
}

.cta-simple__link {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px dashed #000;
}
