.puzzle_va_middle {
  display: inline-block;
  vertical-align: middle;
}

.puzzle_va_top {
  display: inline-block;
  vertical-align: top;
}

.puzzle_ta_center {
  text-align: center;
}

.puzzle_ta_right {
  text-align: right;
}

body {
  font-family: ProximaNova, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

.page-wrapper {
  min-height: calc(100vh - 394px);
  position: relative;
  font-size: 18px;
  color: #364155;
  background-color: #fff;
  z-index: 1;
}

.rbk-header {
  position: relative;
  z-index: 2;
  background: #eef2f4;
  box-shadow: 0 2px 23px 0 rgba(109,127,126,0.43);
  padding: 30px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rbk-header__logo-mobile {
  display: none;
}

.rbk-header__menu {
  font-size: 0;
  position: relative;
}

.rbk-header__menu-mobile-icon {
  cursor: pointer;
  display: none;
}

a.rbk-header__menu-item,
div.rbk-header__menu-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  vertical-align: middle;
  color: #191d23;
  letter-spacing: 0;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 6px 6px 5px;
}

a.rbk-header__menu-item:hover {
  color: #00a9a8;
}

a.rbk-header__menu-item.is-active {
  background-color: #00a9a8;
  padding: 6px 10px 5px;
  color: #fff;
  cursor: default;
}

.rbk-header__search {
  margin-left: 21px;
  cursor: pointer;
}

.rbk-header__search-form {
  padding: 18px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}

.rbk-header__search-form-input {
  width: 100%;
  font-size: 24px;
  color: #252b33;
  padding: 11px 0;
}

.rbk-header__search-form-btn {
  margin-right: 50px;
}

.rbk-header__search-form-btn a {
  border-width: 2px;
  padding: 15px 48px 14px;
}

.rbk-header__search-form-close {
  cursor: pointer;
}

.rbk-main-slider {
  background: #fff url('assets/img/green_back.png') 50% 0 no-repeat;
  color: #fff;
}

.rbk-main-slider-content {
  padding-top: 54px;
}

.rbk-main-slider__item-pic {
  max-width: 100%;
}

.rbk-main-slider__item-pic img {
  max-width: 100%;
}

.rbk-main-slider__item-text {
  padding-left: 25px;
}

.rbk-main-slider__item-text-title {
  font-size: 38px;
  letter-spacing: -0.8px;
  line-height: 57px;
  font-weight: 600;
}

.rbk-main-slider__item-text-subtitle {
  line-height: 32px;
}

.rbk-main-slider__frame {
  width: 100%;
  height: 405px;
  overflow: hidden;
  padding: 0;
}

.rbk-main-slider__slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.rbk-main-slider__item {
  float: left;
  padding: 0;
  width: 1160px;
  height: 100%;
}

.rbk-main-slider__item .more-button {
  margin-top: 20px;
}

.rbk-main-slider__item .more-button:hover {
  color: #08a0a1;
}

.rbk-main-slider__paginator > li,
.rbk-projects__slider-paginator > li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  border: 1px solid #c1c1c1;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rbk-main-slider__paginator > li.active,
.rbk-projects__slider-paginator > li.active {
  cursor: default;
  background-color: #00a9a8;
  border-color: #00a9a8;
}

.rbk-main-slider__paginator {
  margin-left: 25px;
  margin-top: -45px;
}

.rbk-title {
  font-size: 38px;
  color: #252B33;
  line-height: 57px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 50px;
}

.rbk-benefits-item {
  padding-left: 20px;
  padding-right: 50px;
}

.rbk-benefits-item-icon {
  margin-bottom: 20px;
}

.rbk-benefits-item-title {
  font-size: 28px;
  color: #252B33;
  line-height: 34px;
  padding-right: 50px;
}

.rbk-benefits-item-text {
  margin-top: 23px;
}

.rbk-benefits-item-text-one {
  font-size: 16px;
  color: #7c8085;
  line-height: 28px;
  position: relative;
}

.rbk-benefits-item-text-one::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 10px;
  background-color: #333;
}

.rbk-benefits-item.is-blue .rbk-benefits-item-text-one::before {
  background-color: #2386db;
}

.rbk-benefits-item.is-green .rbk-benefits-item-text-one::before {
  background-color: #2abad0;
}

.rbk-benefits-item.is-yellow .rbk-benefits-item-text-one::before {
  background-color: #f9b002;
}

.rbk-benefits__footer-text {
  color: #7c8085;
  font-size: 24px;
  line-height: 37px;
}

.rbk-benefits__footer {
  padding: 40px 80px 0;
  margin-top: 40px;
  text-align: center;
  position: relative;
}

.rbk-benefits__footer::before {
  content: '';
  position: absolute;
  width: 52%;
  height: 2px;
  background-color: #e6eaec;
  left: 50%;
  top: 0;
  margin-left: -26%;
}

.rbk-examples__item {
  padding-right: 18px;
}

.rbk-examples__item-pic,
.rbk-examples__item-pic img {
  width: 100%;
}

.rbk-examples__slider .rbk-projects__slider-item-title {
  text-transform: uppercase;
}

.rbk-projects__slider-item-title {
  display: block;
}

.rbk-examples__download {
  display: inline-block;
}

.rbk-examples__download-link {
  font-weight: 600;
  font-size: 20px;
  color: #00a9a8;
  margin-left: 13px;
  margin-right: 4px;
}

.rbk-examples__download-text {
  font-size: 16px;
  color: #7c8085;
}

.rbk-numbers {
  margin-top: 40px;
  min-height: 259px;
  padding: 65px 0;
  background: url('assets/img/gray_back.png') 50% 0 repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rbk-numbers__item {
  max-width: 180px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-right: 75px;
}

.rbk-numbers__item:last-child {
  margin-right: 0;
}

.rbk-numbers__title {
  font-weight: 600;
  font-size: 72px;
  color: #333;
  line-height: 87px;
}

.rbk-numbers__item.is-blue .rbk-numbers__title {
  color: #2386db;
}

.rbk-numbers__item.is-green .rbk-numbers__title {
  color: #2abad0;
}

.rbk-numbers__info {
  font-weight: 600;
  font-size: 16px;
  color: #252B33;
  line-height: 20px;
}

.rbk-projects {
  background-color: #f4f6f7;
  padding: 40px 0;
}

.rbk-projects .rbk-title {
  margin-top: 0;
}

.rbk-projects__slider-list {
  font-size: 0;
  text-align: center;
}

.rbk-projects__slider-frame {
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.rbk-projects__slider-slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.rbk-projects__slider-item {
  font-size: 18px;
  background: #fff;
  width: 361px;
  display: inline-block;
  vertical-align: top;
  margin-right: 34px;
  text-align: left;
  border: 1px solid #eaeaea;
}

/* Small devices (tablets, 768px and up) */

@media only screen and (min-width: 992px) {

  .rbk-contacts-page__address {
    padding-left: 60px;
  }

  .rbk-projects-page .rbk-projects__slider-item {
    margin-right: 0;
  }

  .rbk-projects-page .rbk-projects__slider-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
  }

}

.rbk-projects__slider-item:last-child {
  margin-right: 0;
}

.rbk-projects__slider-item-pic {
  width: 361px;
  height: 200px;
}

.rbk-projects__slider-item-pic img {
  width: 100%;
  height: 100%;
}

.rbk-projects__slider-item-title {
  font-size: 18px;
  color: #00a9a8;
  line-height: 38px;
  padding: 10px 18px 0;
  font-weight: 600;
}

.rbk-projects__slider-item-title > a {
  color: #00a9a8;
  text-decoration: none;
}

.rbk-projects__slider-item-city {
  padding: 0 18px 20px;
  line-height: 38px;
}

.rbk-projects__slider-paginator {
  margin: 35px 0 40px;
  text-align: center;
}

.rbk-slogan {
  background: #fff url('assets/img/green_back.png') 40% 0 repeat;
  padding: 83px 0 78px;
  color: #fff;
}

.rbk-slogan__text {
  font-size: 20px;
  line-height: 38px;
  font-weight: 600;
  max-width: 80%;
  margin: 0 auto;
}

.rbk-news__slider .rbk-projects__slider-item {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.rbk-projects__slider-item-date {
  font-size: 16px;
  color: #87898b;
  margin-bottom: 16px;
}

.rbk-news__slider .rbk-projects__slider-item-title {
  font-size: 20px;
  color: #00a9a8;
  line-height: 24px;
  padding: 0;
  margin-top: 23px;
  margin-bottom: 17px;
}

.rbk-news__slider .rbk-projects__slider-item-city {
  font-size: 16px;
  color: #252b33;
  line-height: 20px;
  padding: 0;
}

.rbk-projects__slider-content {
  margin-bottom: 40px;
}

.rbk-customers {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
}

.rbk-customers .rbk-title {
  margin-top: 0;
  margin-bottom: 70px;
}

.rbk-customers::before {
  content: '';
  position: absolute;
  width: 52%;
  height: 2px;
  background-color: #e6eaec;
  left: 50%;
  top: 0;
  margin-left: -26%;
}

.rbk-customers__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.rbk-customers__item {
  max-width: 250px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .4;
}

.rbk-customers__item:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.rbk-footer {
  padding: 50px 0;
  background-color: #1f242b;
  color: #fff;
}

.rbk-footer a {
  color: #fff;
}

.rbk-footer__logo {
  margin-bottom: 65px;
}

.rbk-footer__social-title {
  font-size: 14px;
  line-height: 34px;
  margin-right: 25px;
}

.rbk-footer__social-item {
  margin-right: 13px;
}

.rbk-footer__social-item:last-child {
  margin-right: 0;
}

.rbk-footer__menu-item-link {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 34px;
}

.rbk-footer__menu-item-link:hover {
  color: #00a9a8;
}

.rbk-footer__address-row {
  font-size: 14px;
  line-height: 27px;
}

.rbk-contacts-page__address .rbk-footer__address-row a {
  color: #364155;
}

.rbk-footer__address-title {
  font-weight: 600;
}

.rbk-footer__social-mobile {
  display: none;
}

.rbk-header__menu-item.is-search {
  display: none;
}

.rbk-subheader {
  background: #fff url('assets/img/green_back.png') 50% 0 no-repeat;
  color: #fff;
  padding: 73px 20px 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rbk-subheader_type_small-padding {
  padding: 30px 0 40px;
}

.rbk-subheader__back-link a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  height: 20px;
}

.rbk-subheader__title {
  font-size: 38px;
  line-height: 57px;
  font-weight: 600;
  text-align: center;
}

.rbk-subheader__date {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.rbk-about__title {
  font-size: 38px;
  line-height: 57px;
  margin-top: 37px;
  margin-bottom: 40px;
}

.rbk-about__text {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 10px;
}

.rbk-about__subtitle {
  font-size: 20px;
  line-height: 57px;
  font-weight: 600;
}

.rbk-about__management {
  background-color: #f1f4f6;
  padding: 12px 40px 51px;
  margin-top: 75px;
}

.rbk-about__management-title {
  font-size: 22px;
  line-height: 57px;
  font-weight: 600;
}

.rbk-about__management-person-pic {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.rbk-about__management-person-pic img {
  width: 100%;
  height: 100%;
}

.rbk-about__management-person {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 57px;
}

.rbk-about__management-person:last-child {
  margin-bottom: 0;
}

.rbk-about__management-person-info {
  max-width: 70%;
}

.rbk-about__management-person-name {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
}

.rbk-about__geography {
  padding-top: 164px;
  padding-bottom: 81px;
}

.rbk-about__geography-title {
  font-size: 38px;
  line-height: 57px;
  margin-bottom: 33px;
  text-align: center;
}

.rbk-about__geography-map img {
  max-width: 100%;
}

.rbk-team {
  padding: 40px 0 0;
}

.rbk-team__person {
  cursor: pointer;
  min-height: 240px;
  text-align: center;
  margin-bottom: 130px;
}

.rbk-team__person-ava {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.rbk-team__person-ava img {
  width: 100%;
  height: 100%;
}

.rbk-team__person-name {
  font-weight: 600;
  font-size: 24px;
  color: #00a9a8;
  margin-bottom: 5px;
  line-height: 38px;
}

.rbk-team__person-post {
  font-size: 16px;
  line-height: 23px;
  margin-top: 10px;
}

.rbk-team__modal-avatar {
  width: 268px;
  height: 268px;
  margin-top: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.rbk-team__modal-avatar img {
  width: 100%;
  height: 100%;
}

.rbk-team__modal-info {
  max-width: 60%;
  padding-left: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rbk-team__modal-name {
  font-size: 36px;
  line-height: 49px;
  font-weight: 600;
}

.rbk-team__modal-skills {
  margin-top: 38px;
}

.rbk-team__modal-skill {
  margin-bottom: 20px;
}

.rbk-team__modal-skill-title {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 600;
}

.rbk-team__modal-skill-text {
  font-size: 16px;
}

.rbk-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.rbk-modal__overlay {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(78, 91, 110, .5);
  z-index: 1;
}

.rbk-modal__wrap {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rbk-modal__content {
  width: 920px;
  background-color: #fff;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rbk-modal__close {
  position: absolute;
  top: 0;
  right: -30px;
  cursor: pointer;
}

.is-rbk_modal_open .page-wrapper,
.is-rbk_modal_open .rbk-header,
.is-rbk_modal_open .rbk-footer {
  -webkit-filter: blur(15px);
  filter: blur(15px);
}

body.is-rbk_modal_open {
  overflow: hidden;
}

.rbk-team__modal-slider {
  position: relative;
}

.rbk-team__modal-slider-frame {
  width: 100%;
  padding: 0;
}

.rbk-team__modal-slider-slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style-type: none;
}

.rbk-team__modal-slider-item {
  width: 820px;
  float: left;
  height: 100%;
}

.rbk-team__modal-slider-left,
.rbk-team__modal-slider-right {
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1;
}

.rbk-team__modal-slider-left.disabled,
.rbk-team__modal-slider-right.disabled {
  opacity: .2;
  cursor: default;
}

.rbk-team__modal-slider-left {
  left: -100px;
}

.rbk-team__modal-slider-right {
  right: -100px;
}

.rbk-team__modal-slider-paginator {
  margin: 0 !important;
  text-align: center;
}

.rbk-news-page {
  padding: 40px 0;
}

.rbk-news-page .rbk-projects__slider-list {
  text-align: left;
}

.rbk-news-page .rbk-projects__slider-item {
  margin-bottom: 50px;
}

.rbk-news-page .rbk-projects__slider-item:nth-child(3n) {
  margin-right: 0;
}

.rbk-news-page__more {
  text-align: center;
}

.rbk-news-item {
  padding: 25px 0 60px;
}

.rbk-news-item__text {
  font-size: 16px;
  line-height: 20px;
}

.rbk-news-item__text p {
  margin-bottom: 20px;
  display: block;
}

.rbk-news-item__text p strong {
  font-weight: 600;
}

.rbk-news-item__slider {
  margin-bottom: 50px;
  float: left;
  margin-right: 37px;
  width: 600px;
}

.rbk-news-item__slider-frame {
  width: 100%;
}

.rbk-news-item__slider-frame-slidee {
  height: 100%;
}

.rbk-news-item__slider-pic {
  width: 600px;
  margin-bottom: 20px;
  float: left;
}

.rbk-news-item__slider-pic img {
  width: 100%;
}

.rbk-news-item__slider-preview-list {
  font-size: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.rbk-news-item__slider-preview-list-item {
  width: 106px;
  font-size: 18px;
  display: inline-block;
  margin-right: 17px;
  cursor: pointer;
}

.rbk-news-item__slider-preview-list-item:last-child {
  margin-right: 0;
}

.rbk-news-item__slider-preview-list-item img {
  width: 100%;
}

.rbk-news-item__text-title {
  font-size: 22px;
  line-height: 34px;
  margin-top: 50px;
  margin-bottom: 34px;
  font-weight: 600;
  text-align: center;
}

.rbk-news-item__text-pic {
  float: left;
  margin-right: 37px;
  margin-bottom: 40px;
}

.rbk-news-item__text-pic.is-right {
  float: right;
  margin-left: 37px;
  margin-right: 0;
}

.rbk-news-item__slider_size_big {
  float: none;
  width: 930px;
  margin: 0 auto;
}

.rbk-news-item__slider_size_big .rbk-news-item__slider-pic,
.rbk-news-item__slider_size_big .rbk-news-item__slider-preview-list {
  width: 930px;
}

.rbk-submenu-item {
  font-size: 18px;
  line-height: 22px;
  padding: 15px 22px;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.rbk-submenu-item:first-child {
  padding-left: 0;
}

.rbk-submenu-item:hover {
  color: #00a9a8;
}

.rbk-submenu-item.is-active {
  color: #00a9a8;
  font-weight: 600;
  cursor: default;
}

.rbk-submenu__list-mobile-title {
  display: none;
}

.rbk-gallery__item {
  margin-bottom: 20px;
  cursor: pointer;
}

.rbk-gallery__item img {
  max-width: 100%;
}

.lb-prev,
.lb-next {
  opacity: 1 !important;
}

.lb-prev {
  margin-left: -40px;
}

.lb-next {
  margin-right: -40px;
}

.lb-nav a.lb-next {
    background: url('assets/img/lightbox/next.svg') right 48% no-repeat;
}

.lb-nav a.lb-prev {
    background: url('assets/img/lightbox/prev.svg') left 48% no-repeat;
}

.lb-data .lb-close {
  background: url('assets/img/lightbox/close.svg') top right no-repeat;
  opacity: 1;
}

.lb-dataContainer {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.lb-data .lb-close {
  position: absolute;
  top: 0;
  right: -30px;
}

.lb-outerContainer {
  border-radius: 0 !important;
  z-index: 1;
}

.lightbox .lb-image {
  border: none;
  border-radius: 0 !important;
}

.rbk-contacts-page {
  padding: 60px 0;
}

.rbk-feedback-form__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 55px;
}

.rbk-feedback-form__item {
  margin-bottom: 30px;
}

.rbk-feedback-form__item-title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.rbk-contacts-page__address-map {
  margin-top: 30px;
}

.rbk-search-page {
  padding: 30px 0 80px;
}

.rbk-search-page__form-result-num {
  font-size: 15px;
  color: #252b33;
  margin-top: 15px;
}

.rbk-search-page__result-list {
  margin-top: 35px;
}

.rbk-search-page__result-list-item {
  margin-bottom: 15px;
}

.rbk-search-page__result-list-item-title {
  font-size: 24px;
  color: #00a9a8;
  font-weight: 600;
}

a.rbk-search-page__result-list-item-title {
  color: #00a9a8;
  text-decoration: none;
}

.rbk-search-page__result-list-item-body {
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0 20px;
  border-bottom: 1px solid #e6eaec;
}

/* mobile and tablet menu */

@media only screen and (max-width: 1024px) {

  .rbk-header__menu-list {
    display: none;
    position: absolute;
    background: #eef2f4;
    z-index: 1;
    width: 250px;
    left: -30px;
    top: 60px;
    box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.16);
  }

  a.rbk-header__menu-item,
  div.rbk-header__menu-item {
    width: 100%;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 20px !important;
  }

  .rbk-header__menu-mobile-icon {
    display: block;
  }

  .col-sm-7.col-md-8.col-md-offset-1.puzzle_ta_right {
    text-align: left;
  }

  .rbk-header__search {
    float: right;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1179px) {
  .rbk-main-slider__item {
    width: 992px;
    margin-right: 40px;
  }
}

/* Small devices (tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 992px) {

.rbk-submenu-item {
  padding: 15px;
}

.rbk-projects-page .rbk-projects__slider-list {
  text-align: center;
}

  .rbk-modal__content {
    width: 640px;
  }

  .rbk-team__modal-slider-item {
    width: 540px;
  }

  .rbk-team__modal-avatar {
    width: 168px;
    height: 168px;
  }

  .rbk-team__modal-name {
    font-size: 24px;
    line-height: 33px;
  }

  .rbk-modal__wrap {
    top: 40%;
  }

  .rbk-team__modal-skills {
    margin-top: 20px;
  }

  .rbk-subheader {
    padding-top: 63px;
    padding-bottom: 65px;
  }

  .rbk-subheader__title {
    font-size: 24px;
    line-height: 30px;
  }

  .rbk-team__person-ava {
    width: 132px;
    height: 132px;
    margin-bottom: 11px;
  }

  .rbk-team__person-name {
    font-size: 20px;
    line-height: 38px;
  }

  .rbk-team__person-post {
    font-size: 16px;
    margin-top: 7px;
  }

  .rbk-team__person {
    margin-bottom: 50px;
  }

  .rbk-about__geography-title {
    font-size: 24px;
    line-height: 57px;
    margin-bottom: 11px;
  }

  .rbk-about__geography {
    padding-top: 42px;
    padding-bottom: 44px;
  }

  .rbk-about__management-person-info {
    max-width: 72%;
  }

  .rbk-about__management {
    padding-right: 20px;
  }

  .rbk-about__management-person {
    margin-bottom: 32px;
  }

  .rbk-about__management-person-pic {
    margin-right: 10px;
  }

  .rbk-about__management-person-name {
    font-size: 14px;
    line-height: 22px;
  }

  .rbk-about__management-person-pic {
    width: 65px;
    height: 65px;
  }

  .rbk-about__management-title {
    font-size: 18px;
    line-height: 57px;
  }

  .rbk-about__subtitle {
    font-size: 24px;
    line-height: 57px;
  }

  .rbk-about__text {
    font-size: 14px;
    line-height: 22px;
  }

  .rbk-about__title {
    font-size: 24px;
    line-height: 57px;
    margin-top: 50px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .rbk-main-slider__item {
    width: 768px;
  }

  .rbk-main-slider__item-text-title {
    font-size: 24px;
    letter-spacing: -0.51px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .rbk-main-slider__item-text-subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .rbk-main-slider__item-pic img {
    width: 376px;
    height: 268px;
  }

  .rbk-main-slider-content {
    padding-top: 40px;
  }

  .rbk-main-slider__frame {
    height: 275px;
    width: auto;
    margin: 0 -1rem;
  }

  .more-button {
    font-size: 13px;
    padding: 11px 24px 10px;
  }

  .rbk-main-slider__item-text {
    padding-left: 10px;
  }

  .rbk-main-slider {
    -webkit-background-size: 100% 275px;
    background-size: 100% 285px;
  }

  .rbk-main-slider__paginator {
    margin-top: -25px;
  }

  .rbk-main-slider__paginator > li, .rbk-projects__slider-paginator > li {
    margin-right: 15px;
  }

  .rbk-main-slider__paginator > li:last-child, .rbk-projects__slider-paginator > li:last-child {
    margin-right: 0;
  }

  .rbk-title {
    font-size: 24px;
    line-height: 30px;
    margin-top: 35px;
    margin-bottom: 30px;  
  }

  .rbk-benefits-item {
    padding-right: 10px;
  }

  .rbk-benefits-item-title {
    font-size: 18px;
    line-height: 24px;
  }

  .rbk-benefits__footer {
    padding-right: 0;
    padding-left: 0;
  }

  .rbk-benefits__footer-text {
    font-size: 18px;
    line-height: 27px;
  }

  .rbk-benefits__footer::before,
  .rbk-customers::before {
    margin-left: -40%;
    width: 80%;
  }

  .rbk-projects__slider-item {
    width: 228px;
    margin-right: 20px;
    min-height: 220px;
  }

  .rbk-projects__slider-item-pic {
    width: 228px;
    height: 94px;
  }

  .rbk-projects__slider-item-title > a {
    font-size: 16px;
    line-height: 20px;
  }

  .rbk-news__slider .rbk-projects__slider-item-title {
    margin-top: 13px;
    margin-bottom: 7px;
  }

  .rbk-numbers__title {
    font-size: 48px;
    line-height: 58px;
  }

  .rbk-numbers__item {
    max-width: 130px;
    margin-right: 30px;
  }

  .rbk-projects__slider .rbk-projects__slider-item-pic {
    height: 128px;
  }

  .rbk-projects__slider-item-title {
    font-size: 16px;
    line-height: 19px;
  }

  .rbk-projects__slider-item-city {
    font-size: 14px;
    line-height: 22px;
  }

  .rbk-projects__slider-paginator,
  .rbk-projects__slider-content {
    margin-bottom: 20px;
  }

  .rbk-slogan__text {
    font-size: 18px;
    line-height: 27px;
  }

  .rbk-slogan {
    padding: 40px 0 42px;
  }

  .rbk-slogan__text {
    max-width: 100%;
  }

  .rbk-projects__slider-item-date {
    font-size: 14px;
    line-height: 17px;
  }

  .rbk-customers__list-wrapper {
    width: 100%;
    overflow-y: scroll;
  }

  .rbk-customers__list {
    width: 1180px;
  }

  .rbk-subheader_type_small-padding {
    padding: 30px 0 40px;
  }

  .rbk-news-item__slider {
    margin: 0 auto 50px;
    float: none;
  }

  .rbk-news-item__text-pic {
    max-width: 50%;
  }

  .rbk-news-item__text-pic img {
    max-width: 100%;
  }

  .rbk-news-item__slider_size_big,
  .rbk-news-item__slider_size_big .rbk-news-item__slider-pic, .rbk-news-item__slider_size_big .rbk-news-item__slider-preview-list {
    max-width: 700px;
  }

}

/*Extra small devices (phones)*/

@media only screen and (max-width : 767px) {

  .rbk-search-page__form-input {
    margin-bottom: 10px;
  }

  .rbk-search-page__form-result-num {
    margin-top: 0;
  }

  .rbk-contacts-page {
    padding-top: 40px;
  }

  .rbk-contacts-page__address {
    padding-top: 40px;
  }

  .rbk-feedback-form__title {
    margin-bottom: 40px;
  }

  .rbk-contacts-page__address .rbk-feedback-form__title {
    margin-bottom: 20px;
  }

  .rbk-submenu-item {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .rbk-submenu__list-mobile-title {
    display: block;
  }

  .rbk-submenu__list {
    display: none;
  }

  .rbk-submenu-item {
    margin: 0;
  }

  .rbk-submenu__list-mobile-arrow {
    margin-left: 15px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .rbk-submenu.is-open .rbk-submenu__list-mobile-arrow {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .rbk-submenu__list-mobile-title {
    cursor: pointer;
    padding: 16px 15px 15px;
    height: 57px;
    margin: 0 -1rem;
    border-bottom: 2px solid #e0e9f5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .rbk-submenu__list {
    margin: 0 -1rem;
  }

  .rbk-submenu-item:first-child {
    padding-left: 22px;
  }

  .rbk-news-page .rbk-projects__slider-list {
    text-align: center;
  }

  .rbk-news-page .rbk-projects__slider-item {
    margin-right: 0;
  }

  #onlyMobileSlider .rbk-projects__slider-item {
    margin-right: 20px;
  }

  .rbk-modal__content {
    width: 100vw;
  }

  .rbk-team__modal-slider-paginator {
    margin-top: 20px !important;
  }

  .rbk-team__modal-slider-frame {
    height: calc(100vh - 80px);
    overflow-y: scroll !important;
  }

  .rbk-team__modal-slider-item {
    width: calc(100vw - 40px);
    height: auto;
  }

  .rbk-team__modal-slider-left, .rbk-team__modal-slider-right {
    display: none;
  }

  .rbk-modal__close {
    right: 0;
  }

  .rbk-team__modal-avatar {
    width: 98px;
    height: 98px;
    display: block;
    margin-top: 0;
    margin-bottom: 17px;
  }

  .rbk-team__modal-info {
    padding-left: 0;
    max-width: 100%;
    padding-right: 20px;
  }

  .rbk-team__modal-name {
    font-size: 24px;
    line-height: 33px;
  }

  .rbk-team__modal-skills {
    margin-top: 20px;
  }

  .rbk-modal__wrap {
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .rbk-modal__content {
    padding: 20px;
  }

  .rbk-team__person-ava {
    width: 132px;
    height: 132px;
    margin-bottom: 11px;
  }

  .rbk-team__person-name {
    font-size: 20px;
    line-height: 38px;
  }

  .rbk-team__person-post {
    font-size: 16px;
    margin-top: 7px;
  }

  .rbk-team__person {
    margin-bottom: 40px;
  }

  .rbk-about__title {
    font-size: 24px;
    line-height: 57px;
    margin-top: 13px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .rbk-about__subtitle {
    font-size: 24px;
    line-height: 57px;
  }

  .rbk-about__text {
    font-size: 14px;
    line-height: 22px;
  }

  .rbk-about__management {
    margin-right: -1rem;
    margin-left: -1rem;
    padding-left: 22px;
    padding-right: 22px;
  }

  .rbk-about__management-title {
    font-size: 18px;
    line-height: 57px;
  }

  .rbk-about__management-person-pic {
    width: 65px;
    height: 65px;
  }

  .rbk-about__management-person {
    margin-bottom: 32px;
  }

  .rbk-about__management-person-pic {
    margin-right: 10px;
  }

  .rbk-about__management-person-name,
  .rbk-about__management-person-post {
    font-size: 14px;
    line-height: 22px;
  }

  .rbk-about__geography {
    padding-top: 28px;
    padding-bottom: 24px;
  }

  .rbk-about__geography-title {
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 10px;
  }

  .rbk-subheader {
    padding-top: 36px;
    padding-bottom: 34px;
  }

  .rbk-subheader__title {
    font-size: 24px;
    letter-spacing: -0.51px;
    line-height: 30px;
  }

  .rbk-header__menu-item.is-search {
    display: inline-block;
  }

  .rbk-benefits-item {
    margin-bottom: 30px;
  }

  .rbk-title {
    font-size: 24px;
    line-height: 30px;
    margin-top: 35px;
    margin-bottom: 30px;  
  }

  .rbk-benefits-item {
    padding-right: 60px;
  }

  .rbk-benefits-item-title {
    font-size: 18px;
    line-height: 24px;
  }

  .rbk-benefits-item-text-one {
    font-size: 16px;
    line-height: 22px;
  }

  .rbk-benefits__footer {
    padding: 40px 15px 0;
  }

  .rbk-benefits__footer-text {
    font-size: 14px;
    line-height: 23px;
  }

  .rbk-benefits-item-text {
    margin-top: 15px;
  }

  .rbk-benefits__footer::before,
  .rbk-customers::before {
    margin: 0;
    width: 100%;
    left: 0;
  }

  .rbk-header__logo-desktop {
    display: none;
  }

  .rbk-header__logo-mobile {
    display: inline-block;
  }

  .rbk-header__search {
    display: none;
  }

  .rbk-header__menu-list {
    right: -46px;
    width: 320px;
    left: auto;
    border-top: 1px solid #dadada;
  }

  .rbk-header__search-form-input {
    font-size: 14px;
    font-weight: normal;
    width: 75%;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .rbk-header__menu-item.is-search {
    border-top: 1px solid #dadada;
    padding: 10px 20px !important;
  }

  .rbk-header__menu-item.is-search .puzzle-icon {
    float: right;
  }

  .rbk-main-slider__item-pic {
    display: none;
  }

  .rbk-main-slider__item {
    width: 320px;
  }

  .rbk-main-slider__item > .row > .col-sm-6:first-child {
    display: none;
  }

  .rbk-main-slider-content {
    padding-top: 16px;
  }

  .rbk-main-slider__item-text-title {
    font-size: 24px;
    line-height: 30px;
  }

  .rbk-main-slider__item-text-subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
  }

  .more-button_size_m {
      padding: 10px 30px 10px;
      font-size: 13px;
      line-height: 16px;
  }

  .rbk-main-slider__frame {
    height: 255px;
  }

  .rbk-main-slider__paginator {
      margin-left: 0;
      margin-top: 10px;
      margin-bottom: -30px;
  }

  .rbk-main-slider {
    margin-bottom: 60px;
  }

  .rbk-projects__slider-item-pic {
    width: 228px;
    height: 94px;
  }

  .rbk-projects__slider-item {
    width: 228px;
    margin-right: 20px;
    min-height: 190px;
  }

  .rbk-projects__slider-item-title,
  .rbk-news__slider .rbk-projects__slider-item-title {
    font-size: 16px;
    line-height: 20px;
  }

  .rbk-projects__slider-item-city,
  .rbk-news__slider .rbk-projects__slider-item-city {
    font-size: 16px;
    line-height: 20px;
  }

  .rbk-footer__menu-item {
      display: inline-block;
      width: 49%;
  }

  .rbk-footer__menu-item-link {
    font-size: 12px;
    line-height: 29px;
  }

  .rbk-footer__logo {
    margin-bottom: 20px;
  }

  .rbk-footer__logo .puzzle-icon {
    width: 180px !important;
    height: 22px !important;
  }

  .rbk-footer__social {
    display: none;
  }

  .rbk-footer {
    padding: 20px 0;
  }

  .rbk-footer__address {
      width: 220px;
      margin-top: 20px;
  }

  .rbk-footer__social-mobile {
    display: block;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 2px solid #3c424b;
  }

  .rbk-numbers__title,
  .rbk-numbers__info {
    display: inline-block;
    vertical-align: middle;
  }

  .rbk-numbers__item {
    width: 100%;
    margin: 0;
    max-width: none;
    margin-bottom: 29px;
  }

  .rbk-numbers__info {
    width: 162px;
    text-align: left;
    font-size: 14px;
    line-height: 19px;
  }

  .rbk-numbers__title {
    width: 100px;
    text-align: left;
    font-size: 48px;
    line-height: 65px;
  }

  .rbk-numbers {
    padding: 30px 0 0 0;
    background-size: 500% 100%;
  }

  .rbk-projects__slider .rbk-projects__slider-paginator {
    margin: 15px 0 10px;
  }

  .rbk-projects__slider-content {
    margin-bottom: 20px;
  }

  .rbk-slogan__text {
    font-size: 14px;
    line-height: 21px;
    max-width: none;
  }

  .rbk-slogan {
    padding: 20px 0;
  }

  .rbk-customers__list-wrapper {
    width: 100%;
    overflow-y: scroll;
  }

  .rbk-customers__list {
    width: 1180px;
  }

  .rbk-projects .container-fluid,
  .rbk-examples .container-fluid,
  .rbk-news .container-fluid {
    padding: 0;
  }

  .rbk-projects .container-fluid > .row,
  .rbk-examples .container-fluid > .row,
  .rbk-news .container-fluid > .row {
    margin: 0;
  }

  .rbk-projects .container-fluid > .row > div,
  .rbk-examples .container-fluid > .row > div,
  .rbk-news .container-fluid > .row > div {
    padding: 0;
  }

  .rbk-header__menu-list {
    top: 68px;
  }

  .rbk-subheader_type_small-padding {
    padding: 30px 0 40px;
  }

  .rbk-subheader_type_small-padding .rbk-subheader__title {
    margin-top: 10px;
  }

  .rbk-subheader__back-link {
    text-align: center;
  }

  .rbk-news-item__slider {
    margin: 0 auto 30px;
    float: none;
  }

  .rbk-news-item__text-pic {
    max-width: 100%;
    margin: 0 auto 30px !important;
  }

  .rbk-news-item__text-pic img {
    max-width: 100%;
  }

  .rbk-news-item__slider,
  .rbk-news-item__slider .rbk-news-item__slider-pic, .rbk-news-item__slider .rbk-news-item__slider-preview-list {
    max-width: 280px;
  }

}


@media only screen and (min-width: 375px) and (max-width : 425px) {
  .rbk-header__menu-list {
    width: 375px;
    right: -60px;
  }

  .rbk-main-slider__item {
    width: 343px;
    margin-right: 30px;
  }
}


@media only screen and (min-width: 425px) and (max-width : 426px) {
  .rbk-header__menu-list {
    width: 425px;
    right: -72px;
  }

  .rbk-main-slider__item {
    width: 393px;
    margin-right: 30px;
  }
}

















