.puzzle_va_middle {
  display: inline-block;
  vertical-align: middle;
}

.puzzle_ta_center {
  text-align: center;
}

.puzzle_ta_right {
  text-align: right;
}

body {
  font-family: ProximaNova, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.page-wrapper {
  font-size: 18px;
  color: #364155;
  background-color: #fff;
}

.rbk-header {
  background: #eef2f4;
  box-shadow: 0 2px 23px 0 rgba(109,127,126,0.43);
  padding: 30px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rbk-header__menu {
  font-size: 0;
}

a.rbk-header__menu-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  vertical-align: middle;
  color: #191d23;
  letter-spacing: 0;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 6px 6px 5px;
}

a.rbk-header__menu-item:hover {
  color: #00a9a8;
}

a.rbk-header__menu-item.is-active {
  background-color: #00a9a8;
  padding: 6px 10px 5px;
  color: #fff;
  cursor: default;
}

.rbk-terminator {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #f3f6f8 url('assets/img/terminator-bg.png') 50% 0 no-repeat;
  padding-top: 15vh;
  padding-bottom: 5vh;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rbk-terminator__message {
  text-align: center;
  font-size: 24px;
  color: #00a9a8;
  margin-bottom: 10vh;
}

.rbk-terminator__logo {
  margin-bottom: 5vh;
}

.rbk-terminator__logo .puzzle-icon {
  max-width: 100%;
}

.rbk-terminator__content {
  padding-left: 45px;
}

.rbk-terminator__content-text {
  line-height: 29px;
  padding-bottom: 3.5vh;
  margin-bottom: 3vh;
  border-bottom: 2px solid #c8d0d6;
}

.rbk-terminator-address {
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 3vh;
}

.rbk-terminator__social-item {
  margin-right: 15px;
}

.rbk-header__search {
  margin-left: 21px;
  cursor: pointer;
}

/*Extra small devices (phones)*/

@media only screen and (max-width : 767px) {

  .rbk-terminator {
    padding-top: 8vh;
  }

}


















