.middle-xs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

/* styles */

.main-header__info a:not(.navbar-brand) {
  color: #676f7a;
  text-decoration: none !important;
  cursor: default;
}

.main-header__info-phone .icon {
    margin-right: 10px;
    font-size: 24px;
    margin-top: 5px;
}

.main-header__info-phone a {
    font-size: 16px;
    font-weight: 600;
}

.main-header__info-link-decor {
  border-bottom: 1px solid;
}

.main-header__info-mail {
  text-align: right;
}

.main-header__info-mail strong {
  display: inline-block;
  margin-bottom: 5px;
}

.main-header__info-link-decor:hover {
  cursor: pointer;
}

.main-header__info-mail .fa-envelope {
  font-size: 20px;
  margin-top: 6px;
}

.main-header__info-mail-feedback {
    text-align: right;
}

#header .main-header__info .navbar-default.navbar-collapsed-sm {
  height: 80px;
}

#header .main-header__info .navbar-default.navbar-collapsed-sm > .row.middle-xs {
  height: 80px;
}

.main-header__info .icon-boxes .icon-box {
  margin-bottom: 0;
}

.main-header__info-address {
  padding-top: 5px;
}

.panel-item__top-title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  color: #434955;
}

.panel-item__top-title a {
  color: #434955 !important;
}

.panel.panel-image {
  margin-top: 15px;
}

.panel.panel-image .panel-heading img {
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.panel.panel-image:hover .panel-heading img {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

.panel.panel-image .panel-body {
  text-align: left;
  padding: 20px;
}

.panel.panel-image .panel-body .panel-title {
  margin: 0 0 10px;
}

.panel-body__list-item {
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 20px;
}

.panel-body__list-item-icon {
    margin-top: 5px;
}

.panel-body__list-item {
  color: #434955 !important;
}

.panel-body__list-item:hover .panel-title {
  text-decoration: underline;
}

.panels .panel-item:first-child .panel-image {
  margin-top: 15px;
}

.panel.panel-image .panel-heading {
  max-height: 150px;
}

#main-content-header {
  background: url('../../assets/images/main_slider/slide-image-1.png') 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.carousel-blur .big {
  margin-top: 140px;
  background: rgba(5, 13, 37, 0.83);
  display: inline-block;
  padding: 0 30px;
}

.list-group-item__category-link a {
  color: #555;
}

.list-group-item__submenu {
  padding-left: 30px;
  margin-top: 5px;
}

.list-group-item.active .list-group-item__submenu a {
  color: #fff;
}

.list-group-item__submenu-item {
  margin-bottom: 5px;
}















